$liftColor: #8CFFFA;
$activeButtonColor: #E7691D;
$normalButtonColor: #2F9190;
$levelIndicatorColor: #1F9A8B;
$textIndicatorColor: #D0F9F8;
$levelTextColor: #000000;
$shaftStripColor: #8F959E;
$transition: all .2s linear