$liftColor: #2C8686;
$activeButtonColor: #C7C637;
$normalButtonColor: #0D58A6;
$levelIndicatorColor: #456E69;
$textIndicatorColor: #ffffff;
$levelTextColor: #000000;
$shaftStripColor: #8F959E;
$transition: transform .4s linear